{% extends 'adminbase.html' %}

{% block title %}
    Mission List
{% endblock %}


{% block maincontent %}

    <table class="highlight responsive-table" >
        <thead>
          <tr>
              <th data-field="id">ID</th>
              <th data-field="name">In Search</th>
              <th data-field="results">See results</th>
              <th data-field="resume">Resume Mission</th>
              <th data-field="kml">KML File/s</th>
              <th data-field="delete">Delete Mission</th>
          </tr>
        </thead>
        <tbody>
            {% for m in missionlist %}

                <tr>
                    <td>#{{ m.id }}</td>
                    <td>
                        {% for c in m.inSearch.all %}
                            {{ c.name }} {{ c.lastname }}<br />
                        {% endfor %}
                    </td>
                    <td><a href="{% url 'viewmission' m.id %}"><i class="small material-icons">visibility</i></a></td>
                    <td><a href="{% url 'resumemission' m.id %}"><i class="small material-icons">replay</i></a></td>
                    <td>
                      {% for r in m.route %}
                              <i class="material-icons tiny">open_in_new</i>
<a target="_blank" href="{% url 'download' m.id r %}">IBRI{{m.id}}R{{r}}</a><br />
                      {% endfor %}
                    </td>
                    <td><a href="{% url 'deletemission' m.id %}"><i class="small material-icons">delete</i></a></td>
                </tr>
            {% empty %}
                <td>No missions yet.</td>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}