{% extends 'adminbase.html' %}

{% block title %}
    Mission List
{% endblock %}


{% block maincontent %}

    <table class="highlight responsive-table" >
        <thead>
          <tr>
              <th data-field="id">ID</th>
              <th data-field="name">In Search</th>
              <th data-field="results">See results</th>
              <th data-field="results">Resume Mission</th>
          </tr>
        </thead>
        <tbody>
            {% for m in missionlist %}

                <tr>
                    <td>#{{ m.id }}</td>
                    <td>
                        {% for c in m.inSearch.all %}
                            {{ c.name }} {{ c.lastname }}<br />
                        {% endfor %}
                    </td>
                    <td><i class="small material-icons">visibility</i></td>
                    <td><i class="small material-icons">replay</i></td>
                </tr>
            {% empty %}
                <td>No clients yet.</td>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}