{% extends 'adminbase.html' %}
{% load static %}
{% block title %}
    Config Zone
{% endblock %}


{% block maincontent %}

<div class="card-panel" style="margin-top: 20px;">
Welcome to IBRI Administrator Panel. In this administration panel you will be allowed to manage the client's data, see the results of a mission, resume it, or delete the mission. Also you can add, edit or remove drones. If you want to go back to the mission map, click over "Create Mission" option in the menu.
</div>

{% endblock %}